:root {
    --hfs-red: #800000;
    --hfs-light-red: #fff0f0;
    --bg-color: #f4f4f4;
    --card-bg: #ffffff;
    --text-color: #333;
    --border-color: #ddd;

    --event-card-bg: #fff5f5;
    --event-card-border: #e5bcbc;

    --status-biztos-border: #2e7d32;
    --status-talan-border: #ef6c00;

    --today-bg: #ffebee;
}

[data-theme="dark"] {
    --bg-color: #0f0f0f;
    --card-bg: #1b1b1b;
    --text-color: #f0f0f0;
    --border-color: #333;
    --hfs-red: #ff4d4d;
    --hfs-light-red: #2a1515;

    --event-card-bg: #241a1a;
    --event-card-border: #4a2a2a;
    --today-bg: #3d0a0a;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", system-ui, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
